body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.quote-container {
    margin-top: 20px;
}

#quote {
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#generate {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

/* Adicionando um estilo mais agradável ao botão */
#generate:hover {
    background-color: #ddd;
}

/* Fornecendo um estilo mais consistente aos elementos de margem */
.margin-bottom {
    margin-bottom: 20px;
}
.margin-top {
    margin-top: 20px;
}
